# Loops
are a type of control instruction used for `iteration` and `repetition`. Iteration is the process of carrying out the same operation on various objects one at a time. Repetition refers to carrying out an operation more than once.

There are two types of loops

`for` loop

`while` loop

# for loop

for loop_variable in sequence:

    do something   (loop body)

In [1]:
l = ['a', 'b', 'c']
for element in l:
    print(element)

a
b
c

In [2]:
s = 'Python'
for char in s:
    print(char)

P
y
t
h
o
n

In [3]:
# claculate sum of the following list
l = [1, 2, 3, 4, 5, 6]
sum_list = 0
for i in l:
    sum_list += i
print(sum_list)

21

### range function

In [4]:
# range(start, stop, step)
print(list(range(2, 10, 2)))

[2, 4, 6, 8]

In [5]:
print(list(range(2, 10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for i in range(3):
    print(i)

0
1
2

### continue and break

In [8]:
# calculate sum of odd numbers
l = [1, 2, 3, 4, 5, 6]
sum_of_odds = 0
for i in l:
    if i % 2 == 0:
        continue
    else:
        sum_of_odds += i
print(sum_of_odds)

9

In [9]:
l = [1, 2, 3, 4, 5, 6, 7, 8]
sum5 = 0
for i in l:
    if i > 5:
        break
    sum5 += i
print(sum5)

15

### nested loops

In [10]:
weeks = ['week1', 'week2']
days = ['day1', 'day2']
for week in weeks:
    for day in days:
        print("Week: ", week, " Day: ", day)

Week:  week1  Day:  day1
Week:  week1  Day:  day2
Week:  week2  Day:  day1
Week:  week2  Day:  day2

In [ ]:
weeks = ['week1', 'week2']
days = ['day1', 'day2']
for week in weeks:
    print("Week: ", week)
    for day in days:
        print("    Day: ", day)

In [ ]:
# Keep naming in iteration pythonic
cars = ['Ford', 'Toyota', 'Mazda']
for car in cars:
    print(car)

# while loop

while {condition}:

    run if condition is True

In [ ]:
def addN(n):
    """This function calculate 0+1+2+3+...+n"""
    total, i = 0, 0
    while i <= n:
        total += i
        i += 1
    return total

In [ ]:
addN(5)

In [ ]:
addN(1000)

### break  to exit the loop
### continue

while {condition}:
    
    loop body
    
    break : break out of loop
    
    loop body:  will be skipped

In [ ]:
def add_up_to_four(n):
    """This function calculate 0+1+2+3+4"""
    total, i = 0, 0
    while i <= n:
        if i == 5:
            break
        total += i
        i += 1
    return total

In [ ]:
add_up_to_four(50)

while {condition}:
    
    loop body
    
    continue : returns to the begining of while loop
    
    loop body: will be skipped

In [ ]:
def add_odd_numbers(n):
    """This function calculate 1+3+5+...+n"""
    total, i = 0, 0
    while i < n:
        i += 1
        if i % 2 == 0:
            continue
        total += i
    return total

In [ ]:
add_odd_numbers(6)

##  Do not fall in infinite loop

## nested loop